@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');

body {
  color: #eff6ff;
  font-family: Roboto;
}
.wave {
  transform: rotate(180deg);
  height: 100%;
  left: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply m-2 rounded-md border bg-transparent  p-2 text-lg;
  }
  .btnHover {
    @apply from-green-500 to-blue-600 transition-all  ease-out hover:bg-gradient-to-br;
  }
  .link-btn {
    @apply cursor-pointer rounded-xl p-2 m-2 animate-pulse transition-all ease-in-out  hover:-translate-y-1 hover:scale-110 hover:shadow-2xl;
  }
  .input {
    @apply rounded-md border p-2 text-lg;
  }
  .label {
    @apply my-2 text-lg;
  }
}
